<component name="ArtifactManager">
  <artifact type="war" name="spring_sql:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMysql-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_sql:war exploded" />
    </root>
  </artifact>
</component>